body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.parallaxImg1 {
    height:100vh;
    background-image: url;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
