body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.parallaxImg1 {
    height: 100vh;
    width: 100vw;
    background-image: url(Images/clockSpiral.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parallaxImg2 {
    height:100vh;
    background-image: url(Images/mementoMori.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parallaxImg3 {
    height:100vh;
    background-image: url(Images/UA_Both.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parallaxImg4 {
    height:100vh;
    background-image: url();
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    text-align: left;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 2px;
}