body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

audio {
    display: flex;
    margin-left: auto;
    margin-right: auto;

}

iframe {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.repCode {
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parallaxImg1 {
    height: 65vh;
    min-width: 400px;
    background-image: url(Images/clockSpiral.jpg);
}

.parallaxImg2 {
    height:100vh;
    background-image: url(Images/mementoMori.jpg);
}

.parallaxImg3 {
    height:100vh;
    min-width: 400px;
    background-image: url(Images/UA_Both1.png);
}

.parallaxImg4 {
    height:100vh;
    min-width:200px;
    background-image: url(Images/openDoors.jpg);
}

.parallaxImg5 {
    height:100vh;
    max-width: 400px;
    background-image: url(Images/vrSpiral.jpg);
}

.parallaxImg6 {
    height:100vh;
    background-image: url(Images/hourglassDone.jpg);
}

.text {
    font-size: 30px;
    text-align: center;
    align-items: center;
    max-width: 700px;
    display: flex;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    letter-spacing: 2px;
    margin:20px
}

h5 {
    padding-left: 40px;
    padding-right: 40px;
}

.text2 {
    text-align: center;
    text-shadow: 2px 0px 10px whitesmoke;
    font-size: 50px;
}